* {
  margin: 0;
  padding: 0;
}
/* ------------ */
/* ----------- */
/* TYPOGRAPHY */
/* ----------*/
/* -------- */

h1 {
  color: #282624;
  font-family: Playfair Display, serif;
  font-size: clamp(
    7.75rem,
    4.108737142857143rem + 14.938514285714286vw,
    17.5534rem
  );
  font-style: normal;
  font-weight: 500;
  line-height: 93.3%; /* 16.37731rem */
  letter-spacing: -0.87769rem;
}

.display {
  text-transform: uppercase;
}

.data__current {
  text-transform: capitalize;
}

h2 {
  color: #282624;

  font-family: Playfair Display, serif;
  font-size: clamp(2rem, 1.6285714285714286rem + 1.5238095238095237vw, 3rem);
  font-style: normal;
  font-weight: 400;
  line-height: 93.3%; /* 2.799rem */
  letter-spacing: -0.1rem;
}

p {
  color: #282624;

  font-family: Archivo, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 94.3%; /* 0.943rem */
}

.forecast__card--title {
  color: #282624;

  font-family: Playfair Display;
  font-size: clamp(1.5rem, 0.9428571428571428rem + 2.2857142857142856vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 82.8%; /* 2.484rem */
  letter-spacing: -0.15rem;
  text-transform: uppercase;
}

.forecast__card--data {
  color: #282624;
  font-family: Playfair Display;
  font-size: clamp(1.5rem, 0.9428571428571428rem + 2.2857142857142856vw, 3rem);
  font-style: normal;
  font-weight: 400;
  line-height: 82.8%; /* 2.484rem */
  letter-spacing: -0.15rem;
}

nav {
  color: #282624;
  font-family: Playfair Display;
  font-size: clamp(1rem, 0.6285714285714286rem + 1.5238095238095237vw, 2rem);
  font-style: normal;
  font-weight: 500;
  line-height: 82.8%; /* 1.656rem */
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}

/* ------------ */
/* ----------- */
/* UTILS      */
/* ----------*/
/* -------- */

.hidden {
  display: none !important;
}

/* ------------ */
/* ----------- */
/* LAYOUT     */
/* ----------*/
/* -------- */

body {
  background-color: #f0f1f7;
}

.container {
  display: flex;
  max-width: 79rem;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding-top: 6.6875rem;
  flex-shrink: 0;
  margin: 0 auto;
}

.container__data {
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  position: relative;
}

.title__mask--left {
  background-color: #f0f1f7;
  width: 2.13rem;
  position: absolute;
  height: 100%;
  top: 0;
  left: -0.5rem;
}
.title__mask--right {
  background-color: #f0f1f7;
  width: 4.56rem;
  position: absolute;
  height: 100%;
  top: 0;
  right: -1.5rem;
}

.content__header {
  display: flex;
  padding: 0 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
}

.content__search {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.content__data {
  position: relative;
}

.content__data--forecast {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* --------------- */
/* -------------- */
/* COMPONENTS    */
/* -------------*/
/* ----------- */

.content__search--button {
  color: #282624;
  font-family: Archivo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 93.3%; /* 0.933rem */
  letter-spacing: -0.05rem;
  display: flex;
  padding: 0.75rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #1e1e1e;
  background: #f0f1f7;
  cursor: pointer;
}

.forecast__card {
  display: flex;
  height: 19.4375rem;
  padding: 0.5rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 3.875rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

/* LOADER SPINNER       */
.content__search--loading {
  display: flex;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #282624;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* LOADER SPINNER END */

/* --------------- */
/* -------------- */
/* MEDIA QUERIES */
/* -------------*/
/* ----------- */

@media screen and (max-width: 1290px) {
  nav {
    padding: 0px 1rem;
  }
}

@media screen and (max-width: 995px) {
  .container {
    flex-direction: column;
    padding-top: 1rem;
  }

  .title {
    justify-content: flex-start;
  }

  .title__mask--right {
    display: none;
  }

  .content__header {
    padding: 0 9.25rem;
  }

  .content__search {
    justify-content: center;
  }
}

@media screen and (max-width: 490px) {
  .container {
    padding: 1rem 1rem;
  }

  .container__header {
    margin-top: 8.72rem;
  }

  .title__mask--left {
    display: none;
  }

  .content__header {
    padding: 0;
  }
  .content__data--forecast {
    flex-direction: column;
  }

  .forecast__card {
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 1rem;
    flex-shrink: 0;
    height: auto;
    gap: 1rem;
  }
}
